* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex !important;
}

img {
  width: 100%;
}

.flex-col {
  flex-direction: column !important;
}

.align-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.content-wrapper {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  text-align: center;
}

.content-wrapper h1 {
  margin-bottom: 40px;
  text-align: center;
}

.loading-state {
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}

input {
  color: rgba(0, 0, 0, .87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
  height: 30vh;
  color: white;
  justify-content: space-evenly;
}

.search-wrapper {
  position: absolute !important;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 0 20px 0 8px;
  font-size: 32px;
  transition: all 0.2s ease;
  color: #6030b1;
}

.navbar .logo {
  height: 40px;
  width: 60px;
}

.navbar .links {
  width: 100%;
  max-width: 215px;
}

.app .flex {
  position: relative;
}

.overlay {
  background-image: url(https://wallpapers.com/images/hd/movie-poster-background-q1zm830g0hfww2lk.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: absolute;
  filter: blur(6px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.input-wrap {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

#search {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

a {
  color: white;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: calc(100% / 3);
  padding: 16px;
}

@media (max-width: 768px) {
  .movie {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .movie {
    width: 100%;
  }
}